/* Google fonts poppins */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');



/*---------
          Some utilities styles 
                         ----------*/

body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
}

/* ---------
         conmebol copa America 
                        --------- */
.conmebol
{
    Width: 1440px;
    Height:677px;
    background-color: #2D25A0;
}
.copa-america
{
    display: flex;
   
}

.copa-america-details
{
    width:50%;
    margin-top: 170px;
    margin-left: 140px;
    margin-right: 102px;
    
    
}
.copa-heading
{
    color:#FFFF;
    font-size: 64px;
    margin-bottom: 27px;
}

.link-text, a{
     color:#FFFF;
      text-decoration: none;
      background-color: #E02C6D;
      font-weight: 500;
      padding: 10px 24px;
      margin-bottom: 169px;
}
.link-text, i
{
    margin-left:8px;
    
}

.cover-img
{
    width: 50%;
    display: flex;
}

.banner-img 
{
    Width : 300px;
   Height : 500px;
   margin-top: 133px;
   margin-right: 140px;
   margin-bottom: 86px;
}
.ball-image
{
    width: 50px;
    height: 50px;
    margin-top: 500px;
    transition: transform 1s ease-out 0.3s;
    position: relative;
}


.cover-img:hover .banner-img {
    transform: rotate(10deg);
    transform-origin: top right;

}

.ball-image {
    
    transition: transform 0.3s ease-in;
    
}

.cover-img:hover .ball-image {
    transform: translate(-940px, -190px);
}



/*------------
           Top player list and details 
                        -----------------*/
.tournament-hero
{
    margin-top:70px;
    display: flex;
    flex-direction:column;
     align-items: center;
    
}
.top-player
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    grid-column-gap:30px;
    
}
.player-details
{
    background-color: #FFFF;
    width: 300px;
    height: 474px;
    padding:15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
     
}
.player-image img
{
    width: 300px;
    height: 256px;
    
}
.player-image, .player-info
{
    width: 300px;
    height: 154px;
}

.player-name
{
    color:#18191F;
    font-size: 28px;
    margin-bottom: 0px;
    margin-top: 5px;
    
}


.player-info p 
{
    color:#6C6C6C;
    font-style: normal;
   
   
}



/*----------
 UEFA Euro Cup 2021 
            ------------  */


  .UEFA
    {
        Width: 1440px;
        Height:677px;
        overflow: hidden;
    }
    .UEFA-euro
    {
        display: flex;
       
    }
    
    .UEFA-euro-details
    {
        width:50%;
        margin-top: 170px;
        margin-left: 140px;
        margin-right: 102px;
        
        
    }
    .euro-heading
    {
        
        font-size: 64px;
        margin-bottom: 27px;
    }
    .Euro-short-details
    {
        margin-bottom: 40px;
    }
    
     .banner-img2
{
    Width : 400px;
   Height : 400px;
   margin-top: 200px;
   margin-right: 140px;
   margin-bottom: 86px;
   border-radius:20px;
}



/*----------------------
                  UEFA Euro Cup Best 12 player list and details
                                             ---------------------- */




.best-player
{
    margin-bottom: 20px;
    color: rgb(27, 6, 105);
}                                           
    


/*---------------------
                      Winner team UEFA Euro and Copa America 2021
                                                        ---------------*/


.celebration
{
    margin-top:100px;
    overflow:hidden;
    
}                                                      

.celebration-heading
{
    text-align: center;
}                                                      
.winner-country
{
    display: flex;
    margin-top: 40px;

}   

.winner
{
    width: 50%;
    margin-left:50px;
    margin-right:50px;
    position: relative;
}

.winner-flag img
{
    width:100%;
    height:400px;  
    
}
.winner-description
{
    display:none;
     margin-left: 10px;
    position: absolute;
    
    top: 150px;
    color:rgb(253, 247, 247);
}

.winner:hover .winner-description{
    display:block;
    
    background-color: rgba(231, 230, 228, 0.39);


}

.winner:hover .winner-image {
    transform: scale(1) skew(5deg);
    transition: transform 2s ease-in-out;
}





.orange-color
{
    color:orange;
}


/*----------------
               Our Footer work
                         ------------- */

.footer-work
{
    margin-top: 122px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.footer-image img
{
    width: 483.87px;
    height: 110px;
    margin: 20px 0px;

}
.fab 
{
    width: 17px;
    height: 17px;
    margin:0px 0px;
}
.social-icon .fa-icon 
{
    width: 32px;
    height: 32px;
    border-radius:50%;
    padding: 5px 8px;
    background-color: #a9adb9;
    margin: 0px 14px;
    color: #969BAB;
}

.copywirte h2 
{
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 100px;
}
                                        

/*--------------------
                 Media Query 
                       ------------------*/



 /*------------------- First mobile device------------------------ */




 @media only screen and (max-width:688px)
 {

    ::-webkit-scrollbar{
        display: none;
    }
.conmebol{
    height: 100%;
}
 .copa-america
 {
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    margin-right: 50px;
    width: 100%;
 }

 .copa-america-details
 {
     margin-left: 5px;
     
 }

 .copa-heading
{
    
    font-size: 40px;
    margin-bottom: 27px;
}

.top-player
{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 27px;
    grid-column-gap:30px;
    margin-top:400px;
}


.UEFA-euro
{
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    margin-right: 50px;
    width: 100%;
   
}

.UEFA-euro-details
{
    margin-left: 5px;
    
}
.euro-heading
{
    
    font-size: 34px;   
}

.Euro-short-details
{
    display: none;
}
.banner-img2{
    margin-top:40px;
}

.tournament-hero{
    margin-top: 70px;
}
.best-player{
    margin-left: 10px;
}
.top-player{
    margin-top: 50px;
}

.celebration h1
{
    font-size: 20px;
}

.winner{
    width: 100%;
    margin-left: 5px;
    margin-right: 25px;
}
.winner-country
{
   display:grid;
   grid-template-columns: repeat(1, 1fr);
   align-items: center;
   margin-right: 50px;
   width: 100%;
}

.winner-description
{
    display: none;
}

.footer-work
{
    margin-top: 40px;
}

.footer-image img {
    width: 90%;
    height: 110px;
    
    margin: 10px;

}
 }





