/* Google fonts poppins */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/*---------
          Some utilities styles 
                         ----------*/

body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
}

/* ---------
         conmebol copa America 
                        --------- */
.conmebol
{
    Width: 1440px;
    Height:677px;
    background-color: #2D25A0;
}
.copa-america
{
    display: flex;
   
}

.copa-america-details
{
    width:50%;
    margin-top: 170px;
    margin-left: 140px;
    margin-right: 102px;
    
    
}
.copa-heading
{
    color:#FFFF;
    font-size: 64px;
    margin-bottom: 27px;
}

.link-text, a{
     color:#FFFF;
      text-decoration: none;
      background-color: #E02C6D;
      font-weight: 500;
      padding: 10px 24px;
      margin-bottom: 169px;
}
.link-text, i
{
    margin-left:8px;
    
}

.cover-img
{
    width: 50%;
}

.banner-img 
{
    Width : 556px;
   Height : 438px;
   margin-top: 153px;
   margin-right: 140px;
   margin-bottom: 86px;
}


/*------------
           Top player list and details 
                        -----------------*/
.tournament-hero
{
    margin-top:70px;
    display: flex;
    flex-direction:column;
     align-items: center;
    
}
.top-player
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    grid-column-gap:30px;
    
}
.player-details
{
    background-color: #FFFF;
    width: 300px;
    height: 474px;
    padding:15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
     
}
.player-image img
{
    width: 300px;
    height: 256px;
    
}
.player-image, .player-info
{
    width: 300px;
    height: 154px;
}

.player-name
{
    color:#18191F;
    font-size: 28px;
    margin-bottom: 0px;
    margin-top: 5px;
}

.player-info p 
{
    color:#6C6C6C;
    font-style: normal;
   
   
}



